@import url('https://fonts.googleapis.com/css?family=Alegreya|Merriweather');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Kaushan+Script');
body {
    height: 100%;
    width: 100%;
    
}

  
.heading
{
	 color:grey;
	 font-size: 100px;
	text-align: center;
	
    font-family: 'Kaushan Script', cursive;
}
.main{

	width:100%;
	margin:auto;
	
	top:0;
	

}
.navbar
{
    padding-bottom: 0;
   
}
.bg-light
{
	background-color:#263238 !important;
}
.nav-link 
{   

	color: white !important;
	font-family: 'Merriweather', serif;  
}
.navbar-brand
{
	font-size: 30px;
	color: white !important;
	font-family: 'Merriweather', serif;  
}
 .navbar-toggler
 {
 	background-color: white !important;
 }


.card-title{
	font-family: 'Kaushan Script', cursive;
	color: grey;
	font-weight: 500;
}
.card-text
{
	font-family: 'Kaushan Script', cursive;
	color: grey;
	font-weight: 600;
}
.card
{
	margin-bottom: 12px;
	background-color: transparent;
	border: none;
	
}


.footer_logo{
    height: 10%;
    width: 10%;
}

.well
{
	height: 40vh;
background-image: url("../images/event.jpg");
padding-top: 7rem;
background-repeat: no-repeat;
background-size: cover;
background-position: center;

font-weight: 800;

}



