@import url('https://fonts.googleapis.com/css?family=Alegreya|Merriweather');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
section {
    width: 100%;
    display: table;
    max-width: none;
    height: 100vh;
}
.main{
	height:12vh;
	width:100%;
	margin:auto;
	top:0;
	background-size: cover;
	opacity: 1;
	background-position: center;
	background-repeat: no-repeat;

}
.container{
	background-image: url(../images/join.jpg);
	background-repeat: no-repeat;
	background-size: 45% 70%;
	float: right;
	background-position: right;
	background-origin: content-box;
}
.navbar
{
    padding-bottom: 0;
   
}
.bg-light
{
	background-color: #191919 !important;
}
.nav-link 
{   

	color: white !important;
	font-family: 'Merriweather', serif;  
}
.navbar-brand
{
	font-size: 25px;
	color: white !important;
	font-family: 'Merriweather', serif;  
}
 .navbar-toggler
 {
 	background-color: white !important;
 }
 #heading {
    font-family: 'Slabo 27px', serif;
    font-size: 3rem;
    position: relative;
    color: #757575;
    font-weight: bold;
}
textarea{
	width: 100%;
	height: auto;
}
@media screen and (max-width: 600px)
{
	.container{
	background-image: none;
}
}
label,button {
	font-family: 'Merriweather', serif;
}