@import url('https://fonts.googleapis.com/css?family=Alegreya|Merriweather');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Kaushan+Script');
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
section {
    width: 100%;
    display: table;
    max-width: none;
    height: 100vh;
}
.main {
    height: 100vh;
    width: 100%;
    margin: auto;
    background-image: url('../images/back1.jpg');
    display: block;
    top: 0;
    background-size: cover;
    opacity: 1;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1);
}
.content {
    margin-top: -500px;
    color: black;
    opacity: 1 !important;
}
.bg-light {
    background-color: transparent !important;
}
.nav-link {
    color: white !important;
    font-family: 'Merriweather', serif;
}
.navbar-brand {
    font-size: 30px;
    color: white !important;
    font-family: 'Merriweather', serif;
}
.navbar-toggler {
    background-color: white !important;
}
.team_img {
    width: 100% !important;
    margin-top: 20px;
    height: 60vh;
}
.about_head {
    margin-top: 20px;
    color: white;
}
#heading {
    font-family: 'Kaushan Script', cursive;
    font-size: 2rem;
    position: relative;
    color: grey;
}
#define {
    font-weight: 200;
    font-family: ' Merriweather';
    color: white;
    font-size: 1rem;
}
.team_header {
    margin-top: 30px;
    text-align: center;
}
.mem_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.mem1_img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5%;
}
.per_text {
    text-align: center;
}
@media screen and (max-width: 600px) {
    #hideonmob {
        display: none;
    }
}
@media screen and (min-width: 600px) {
    #showonmob {
        display: none;
    }
}
.card-title,
.card-text {
    color: black !important;
}
/*Arrow Button*/

.ca3-scroll-down-arrow {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
    background-size: contain;
    background-repeat: no-repeat;
}
.ca3-scroll-down-link {
    cursor: pointer;
    height: 60px;
    width: 80px;
    line-height: 60px;
    position: absolute;
    left: 50%;
    color: #FFF;
    text-align: center;
    font-size: 70px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
    -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
    -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
    animation: ca3_fade_move_down 2s ease-in-out infinite;
}
.arrow_margin1 {
    margin: 70vh 0 0 -40px;
}
.arrow_margin2 {
    background-color: transparent;
    margin: 30px 0 0 -40px;
}
/*animated scroll arrow animation*/

@-webkit-keyframes ca3_fade_move_down {
    0% {
        -webkit-transform: translate(0, -20px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
}
@-moz-keyframes ca3_fade_move_down {
    0% {
        -moz-transform: translate(0, -20px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -moz-transform: translate(0, 20px);
        opacity: 0;
    }
}
@keyframes ca3_fade_move_down {
    0% {
        transform: translate(0, -20px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 20px);
        opacity: 0;
    }
}
@media screen and (min-width: 600px) and (max-width: 700px) {
    #define {
        font-size: 15px;
        margin-top: 15px;
    }
}
@media screen and (max-width: 600px) {
    .ca3-scroll-down-arrow {
        display: none;
    }
}
@media screen and (min-width: 600px) and (max-width: 850px) {
    .arrow_margin2 {
        background-color: transparent;
        margin: 0px 0 0 -40px;
    }
}
@media screen and (min-width: 851px) and (max-width: 1000px) {
    .arrow_margin2 {
        background-color: transparent;
        margin: 10px 0 0 -40px;
    }
}
/*footer*/

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    text-align: left;
    padding: 50px 60px 40px;
    margin-top: 80px;
    overflow: hidden;
}
/* Footer left */

.footer-distributed .footer-left {
    float: left;
}
/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
}
.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
/* Footer social icons */

.footer-distributed .footer-icons {
    margin-top: 40px;
}
.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
/* Footer Right */

.footer-distributed .footer-right {
    float: right;
}
.footer-distributed .footer-right p {
    display: inline-block;
    vertical-align: top;
    margin: 15px 42px 0 0;
    color: #ffffff;
}
/* The contact form */

.footer-distributed form {
    display: inline-block;
}
.footer-distributed form input,
.footer-distributed form textarea {
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color: #d1d2d2;
    width: 400px;
    padding: 18px;
}
.footer-distributed::-webkit-input-placeholder {
    color: #5c666b;
}
.footer-distributed::-moz-placeholder {
    color: #5c666b;
    opacity: 1;
}
.footer-distributed:-ms-input-placeholder {
    color: #5c666b;
}
.footer-distributed form input {
    height: 55px;
    margin-bottom: 15px;
}
.footer-distributed form textarea {
    height: 100px;
    margin-bottom: 20px;
}
.footer-distributed form button {
    border-radius: 3px;
    background-color: #33383b;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: right;
}
@media (max-width: 1000px) {
    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-company-name {
        font-size: 12px;
    }
    .footer-distributed form input,
    .footer-distributed form textarea {
        width: 250px;
    }
    .footer-distributed form button {
        padding: 10px 35px;
    }
}
@media (max-width: 800px) {
    .footer-distributed {
        padding: 30px;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
        float: none;
        max-width: 300px;
        margin: 0 auto;
    }
    .footer-distributed .footer-left {
        margin-bottom: 40px;
    }
    .footer-distributed form {
        margin-top: 30px;
    }
    .footer-distributed form {
        display: block;
    }
    .footer-distributed form button {
        float: none;
    }
}
#about {
    height: 100vh;
    width: 100%;
    background-image: url('../images/back2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#define {
    color: grey;
}
#team {
    background-color: black;
    color: white;
    font-family: 'Kaushan Script', cursive;
}
/*Mobile view team members cards*/

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}
@media (max-width: 650px) {
    .column {
        width: 50%;
        display: inline;
    }
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.container {
    padding: 0 16px;
}
.title {
    color: grey;
}