@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

body{
	margin:0;
	padding: 0;
	height:80%;
	width:100%;

}
html{
	height:100%;
	width:100%;

}

.main{
	height:100%;
	width:100%;
	margin:auto;
	background-image: url("http://static.ibnlive.in.com/ibnlive/pix/ibnhome/karnataka-iwif-2016.jpg");
	display: table;
	top:0;
	background-size: cover;
	padding: 0;


}
.inner .main{
	display: table-cell;
	vertical-align: middle;
	width:100%;
	max-width: none;
	margin: auto;
	padding: 0;
}

.content{
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	font-size: 50px;
	font-family: 'Oswald';
	margin-top: 10%;
	
}
