@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lobster|Satisfy');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lobster');

.main{
	height:100vh;
	width:100%;
	margin:auto;
	background-image: url('../images/back1.jpg');
	display: block;
	top:0;
	background-size: cover;
	opacity: 1;

	background-position: center;
	background-repeat: no-repeat;

}
.content
{
	margin-top:-500px;
	color: black;
	opacity: 1 !important;
}
.bg-light
{
	background-color: transparent !important;
}

.nav-link 
{   

	color: white !important;
}
.navbar-brand
{
	font-size: 30px;
	color: white !important;
}
 .navbar-toggler
 {
 	background-color: white !important;
 	}