@import url('https://fonts.googleapis.com/css?family=Alegreya|Merriweather');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
body
{
	height: 100%;
	width: 100%;
	}


.main{
	height:100vh;
	width:100%;
	margin:auto;
	background-image: url('../images/back1.jpg');
	display: block;
	top:0;
	background-size: cover;
	opacity: 1;

	background-position: center;
	background-repeat: no-repeat;

}
.content
{
	margin-top:-500px;
	color: black;
	opacity: 1 !important;
}
.bg-light
{
	background-color: transparent !important;
}
.nav-link 
{   

	color: white !important;
	font-family: 'Merriweather', serif;  
}
.navbar-brand
{
	font-size: 30px;
	color: white !important;
	font-family: 'Merriweather', serif;  
}
 .navbar-toggler
 {
 	background-color: white !important;
 	}
 #about{
 	height: 100vh;
 	display: block;
	
 }
 .container-fluid
 {
 background-image: url('../images/Saffron.jpg');
 background-position: center;
 background-size: cover;
 }
 .team_img{
 	margin-top: 0px;
 	width: 100% !important;
 	height: 100vh;
 	
 }
h2{
font-family: 'Merriweather', serif;  
text-shadow: 4px 4px 4px #aaa;
color: white ;
	 }

#define
{
	font-family: 'Alegreya', serif;
	font-size: 20px;
	color: #F0F8FF;
	font-weight: 200;
 }

