@import url('https://fonts.googleapis.com/css?family=Alegreya|Merriweather');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Kaushan+Script');
body{
height:100vh;
	width:100%;
}
.main{
	height:40vh;
	width:100%;
	margin:auto;
	background-color: black;
	
	top:0;
	background-size: cover;
	opacity: 1;

	background-position: center;
	background-repeat: no-repeat;

}
.bg-light
{
	background-color: transparent !important;
}
.nav-link 
{   

	color: white !important;
	font-family: 'Merriweather', serif;  
}
.navbar-brand
{
	font-size: 30px;
	color: white !important;
	font-family: 'Merriweather', serif;  
}
 .navbar-toggler
 {
 	background-color: white !important;
 }

 h1
  {
font-family: 'Kaushan Script', cursive;
color: white;
font-size: 5rem;
 }
#event
{
	background-color:#E0FFFF;
	 }
#three
{
	height: 100vh;
 }	




