
/*CSS for mobile website*/

.mobmain
{
	margin: 0;
	background: -webkit-linear-gradient(to right, #F2C94C, #F2994A);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F2C94C, #F2994A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.mainlogo
{

}

	#logostyle
	{
		width: 22vw;
		height: 22vw;
		margin-top: 8vh;
	}

	#titlem
	{
		color: #29323c;
		font-size: 4vh;
		font-family:  'Righteous', cursive;
		padding-top: 2vh;
	}

	#Aboutm
	{
		padding-top: 0vh;
		font-size: 2.5vh;
		font-family:"HelveticaNeue-Thin"; 
		line-height: 4vh;
		color: white; 
	}

	#head
	{
		font-family: 'Francois One', sans-serif;
		font-size: 3.5vh;
		padding-top: 6vh;
		color: black;
	}

	#img1
	{
		height: 50vw;
		width: 87vw;
		padding-top: 4vh;
	}

	#line1
	{
		font-family:"HelveticaNeue-Thin";
		font-size: 2.5vh;
		padding-top: 1vh;
	}

	#img2
	{
		height: 50vw;
		width: 87vw;
		padding-top: 4vh;
	}

	#line2
	{
		font-family:"HelveticaNeue-Thin";
		font-size: 2.5vh;
		padding-top: 1vh;
	}

	#img3
	{
		height:50vw;
		width: 87vw;
		padding-top: 4vh;
	}

	#line3
	{
		font-family:"HelveticaNeue-Thin";
		font-size: 2.5vh;
		padding-top: 1vh;
		padding-bottom: 3vh;
	}

	#joinh
	{
		font-family: 'Francois One', sans-serif;
		font-size: 3.5vh;
		color: black;
		padding-top: 2vh;
	}

	#Join
	{
		padding-top: 3vh;
		padding-bottom: 3vh;

	}
	#headingm
	{
		font-size: 3vh;
		font-family: "HelveticaNeue";
		padding-bottom: 2vh;
	}

	#param
	{
		font-size: 2.5vh;
		line-height: 4vh;
		font-family:"HelveticaNeue-Thin";
	}

	#facebookm
	{
		width: 8vw;
		height: 8vw;
		/*float: left;*/
		padding-right: 2vw;
		display: inline-block;
	}

	#instagramm
	{
		width: 8vw;
		height: 8vw;
		/*float: left;*/
		padding-right: 2vw;
		display: inline-block;
	}

	#youtubem
	{
		width: 8vw;
		height: 8vw;
		/*float: left;*/
		padding-right: 2vw;
		display: inline-block;
	}

	#twitterm
	{
		width: 8vw;
		height: 8vw;
		/*float: left;*/
		display: inline-block;
	}

	#social
	{
		/*width: 50vw;*/
		height: 10vh;
		padding-top: 3vh;
		align-content: center;
		padding-bottom: 3vh;
	}